# Environnement virtuel Python
venv/
.venv/
env/

# Fichiers compilés Python
*.pyc
__pycache__/

# Fichiers de base de données SQLite (si vous en utilisez une locale)
db.sqlite3

# Fichiers de configuration sensibles (variables d'environnement)
.env

# Fichiers de l'IDE VS Code
.vscode/

# Fichiers générés par le système d'exploitation
.DS_Store # macOS
Thumbs.db # Windows
/staticfiles/
debug.log
# Ignorer les fichiers de log
debug.log

# Ignorer les répertoires de médias uploadés
/media/ # Ignorera tout le contenu du répertoire media à la racine du projet

# Ignorer les environnements virtuels
venv/
venv310/ # Spécifique à votre nom d'environnement

# Ignorer les répertoires de fichiers statiques collectés
staticfiles/ # Nom courant
school/static/ # Si c'est votre répertoire de fichiers statiques collectés par collectstatic

# Ignorer les fichiers temporaires de Git
FETCH_HEAD

# Ignorer les dossiers de backup ou temporaires
old_staticfiles_backup/