{% extends 'base.html' %}

{% block title %}Choisir votre rôle d'inscription{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h2 class="card-title mb-4">S'inscrire en tant que :</h2>
                    <p class="card-text mb-4">Choisissez le type d'utilisateur qui correspond à votre profil pour accéder aux fonctionnalités spécifiques.</p>
                    <div class="d-grid gap-3 col-6 mx-auto">
                       {# <a href="{% url 'profiles:register_parent' %}" class="btn btn-primary btn-lg">Parent</a>#}
                        {#<a href="{% url 'profiles:register_teacher' %}" class="btn btn-success btn-lg">Enseignant</a>#}
                        {# Ajoutez d'autres liens pour d'autres rôles si nécessaire, ex: student_registration #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}